@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "List of Roles";
}

<h1>Roles</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-controller="Administration" asp-action="CreateRole">Create New</a>
    </p>
}


@if (Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Role Names
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="EditRole" asp-controller="Administration" class="btn btn-primary" asp-route-roleId="@item.Id">Edit</a>
                        |
                        <a asp-action="ViewUsers" asp-controller="Administration" class="btn btn-primary" asp-route-roleId="@item.Id">View Users</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="card">
        <div class="card-header">No Roles Created Yet</div>
    </div>

}

