@{
    ViewData["Title"] = "Home";
}


    <div class="card" >
        <div class="card-header">
            <h2 class="d-flex justify-content-center"><i><u>Pulse</u></i> </h2>
            <h4 class="d-flex justify-content-center">Time Table Generator and <br>Resource Management System</h4>
        </div>
        <div class="card-body">
            <div class="container">
                <h5><b>Users and Roles:</b></h5>
                The System has 3 potential users and each user has some rights and restrictions to access the system.
                <ul>
                    <li>The Admin</li>
                    He can manage user roles, Manage Courses and Generate Time Table.
                    <li>The Faculty</li>
                    He can upload/view Resources, View Courses, Manage his Profile and View Time Table.
                    <li>The Student</li>
                    He can View Resouces, View Courses, Manage his Profile and View Time Table.
                </ul>
            </div>
       
            <hr />
            <br />
            <div class="container">
                <h5><b>Features of The System:</b></h5>
                The system helps in generating time-table for a collage by mainitaing course information, faculty and student information. It also stores lecture notes and resources on <b>Azure Blob Storage</b>.
                <ul>
                    <li>Time Table Generation</li>
                    <li>Course Management</li>
                    <li>Profile Management</li>
                    <li>Role Management</li>
                </ul>
            </div>
        </div>
    </div>
